schemas/core_components/cgi_healthcare_efrikort_3.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. CGI licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
    xmlns:tns='urn:riv:cgi:healthcare:efrikort:3'
    targetNamespace='urn:riv:cgi:healthcare:efrikort:3'

    elementFormDefault='qualified'
    attributeFormDefault='unqualified' 
    version='3.0'>

    <xs:annotation>
        <xs:documentation>
        </xs:documentation>
    </xs:annotation>





    <xs:simpleType name="CardStatusType">
        <xs:annotation>
            <xs:documentation>
                Värdet anger nuvarande status för ett frikort.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BELOW_LIMIT">
                <xs:annotation>
                    <xs:documentation>
                        Frikortstatus ej uppnådd
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRELIMINARY">
                <xs:annotation>
                    <xs:documentation>
                        Frikort i preliminär status
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FINAL">
                <xs:annotation>
                    <xs:documentation>
                        Frikortstatus uppnådd
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXPIRED">
                <xs:annotation>
                    <xs:documentation>
                        Frikortet har utgått
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CardRegistrationReasonType">
        <xs:annotation>
            <xs:documentation>
                Då ett frikort registreras utan transaktioner kräver systemet en orsakskod.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="VALID_CARD">
                <xs:annotation>
                    <xs:documentation>
                        Patient har redan frikort hos annan Vårdhuvudman. Detta val kräver att nuvarande frikortsnummer anges.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MEDICAL">
                <xs:annotation>
                    <xs:documentation>
                        Patient skall ha frikort av medicinska skäl. Nytt frikortsnummer skapas av tjänsten.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="GroupActionType">
        <xs:annotation>
            <xs:documentation>
                Tillgängliga grupperingsåtgärder.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROUP_PERSON">
                <xs:annotation>
                    <xs:documentation>
                        En personidentitet grupperades med ett frikort
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNGROUP_PERSON">
                <xs:annotation>
                    <xs:documentation>
                        En grupperad personidentitet togs bort från ett frikort
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ResultCodeType">
        <xs:annotation>
            <xs:documentation>
                Samtliga svarskoder som används av tjänsten.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>
                        Angiven tjänst har utförts enligt begäran.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation>
                        Angiven tjänst har utförts enligt begäran, men det finns ett meddelande som konsumenten måste visa upp.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERROR">
                <xs:annotation>
                    <xs:documentation>
                        Angiven tjänst har INTE kunnat utföras. Det finns ett meddelande som konsumenten måste visa upp.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALIDATION_ERROR">
                <xs:annotation>
                    <xs:documentation>
                        Angiven tjänst har INTE kunnat utföras. En eller flera inparametrar innehåller felaktiga värden.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCESSDENIED">
                <xs:annotation>
                    <xs:documentation>
                        Angiven tjänst har INTE kunnat utföras. Behörighet saknas.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPTINREQUIRED">
                <xs:annotation>
                    <xs:documentation>
                        Angiven tjänst har INTE kunnat utföras. Patienten saknar registrerat inträde för tjänsten. Inträde måste registreras för patienten innan nytt anrop till tjänsten kan genomföras.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPTOUT">
                <xs:annotation>
                    <xs:documentation>
                        Angiven tjänst har INTE kunnat utföras. Patienten har begärt explicit utträde från tjänsten. Inträde måste registreras för patienten innan nytt anrop till tjänsten kan genomföras.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ExportTypeType">
        <xs:annotation>
            <xs:documentation>
                Enumerationsvärde som anger exporttyp
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARD">
                <xs:annotation>
                    <xs:documentation>
                        Utskrift av frikort
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OVERCHARGED">
                <xs:annotation>
                    <xs:documentation>
                        Utskrift av överdebiteringsbrev
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TransactionStatusType">
        <xs:annotation>
            <xs:documentation>
                Enumerationsvärde som anger en transaktionsrads status.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE">
                <xs:annotation>
                    <xs:documentation>
                        Transaktionen är aktiv (dvs det är den senaste raden och ej borttagen)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPDATED">
                <xs:annotation>
                    <xs:documentation>
                        Transaktionen har uppdaterats (editerats)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELETED">
                <xs:annotation>
                    <xs:documentation>
                        Transkationen har tagits bort.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Id">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett unikt identifikationsnummer enligt formatet för UUID (Universally Unique Identifier).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CardTypeId">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett unikt id för frikortstyp
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="HsaId">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar det unika nummer som identifierar en anställd, uppdragstagare, strukturenhet eller en HCC funktion (HSA-id).
                Specificerat enligt HSA-schema tjänsteträdet version 3.9.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="OrganizationValue">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett namn eller id för en organisation/enhet. Detta typ anger att värdet kan vara antingen ett id eller fritext.
                Används av systemet då indata inte kan garanteras vara av typen HsaId, utan även kan bestå av fritext.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="OrganizationName">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett namn för en organisation/enhet.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PersonIdValue">
        <xs:annotation>
            <xs:documentation>
                Typen PersonIdValue är en sträng på 12 eller 13 tecken som representerar en person. Vanligtvis ett personnummer, men även andra typer av 12 tecken identifierare såsom samordningsnummer och reservnummer (kan vara 13-tecken) kan användas. Formatet på texten skall vara enbart de siffror (samt eventuella bokstäver) som ingår utan eventuell &amp;quot;-&amp;quot; eller &amp;quot;+&amp;quot;.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CardId">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett frikortsnummer. Detta är ej unikt utan enbart en läsbar referens till ett frikort. Flera kort kan således ha samma frikortsnummer.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="CardPersonType">
        <xs:annotation>
            <xs:documentation>
                Typ som representerar ett id för en person eller patient, och kan vara ett personnummer, samordningsnummer eller reservnummer och 
                personen har koppling till ett kort.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="tns:PersonIdValue"/>
            <xs:element name="readConsent" type="xs:boolean"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CardTypeType">
        <xs:annotation>
            <xs:documentation>
                Respektive vårdhuvudman kan själv välja vilken/vilka korttyper som ska användas för dem (och även skapa nya korttyper).
                Följande korttyper finns föredefinierade i systemet:
                CardTypeId - Namn
                CARE_VISIT - Öppen sjukvård
                TECHNICAL_AID - Tekniska hjälpmedel
                TRANSPORTATION - Sjukresor
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="tns:CardTypeId"/>
            <xs:element name="name" type="xs:string"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CarePrincipalType">
        <xs:annotation>
            <xs:documentation>
                Vårdhuvudman
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="tns:HsaId"/>
            <xs:element name="name" type="xs:string"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ExportStatusType">
        <xs:annotation>
            <xs:documentation>
                ExportStatus visar vilka exporter som skett för en viss person tillhörande ett kort
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="personId" type="tns:PersonIdValue"/>
            <xs:element name="exportType" type="tns:ExportTypeType"/>
            <xs:element name="dateTime" type="xs:dateTime"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ActorType">
        <xs:annotation>
            <xs:documentation>
                En Actor är den som utför något i systemet.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="employeeId" type="tns:HsaId"/>
            <xs:element name="careProviderId" type="tns:HsaId"/>
            <xs:element name="careUnitId" type="tns:HsaId" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TransactionType">
        <xs:annotation>
            <xs:documentation>
                En transaktion representerar en patientavgift.
                En transaktion knyts alltid till ett frikort.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="transactionId" type="tns:Id"/>
            <xs:element name="personId" type="tns:PersonIdValue"/>
            <xs:element name="amount" type="xs:double"/>
            <xs:element name="transactionDate" type="xs:date"/>
            <xs:element name="registrationDateTime" type="xs:dateTime"/>
            <xs:element name="carePrincipal" type="tns:CarePrincipalType"/>
            <xs:element name="careProvider" type="tns:OrganizationValue"/>
            <xs:element name="careUnit" type="tns:OrganizationValue" minOccurs="0"/>
            <xs:element name="status" type="tns:TransactionStatusType"/>
            <xs:element name="statusReason" type="xs:string" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CardType">
        <xs:annotation>
            <xs:documentation>
                Information om ett specifikt Frikort, men utan dess ingående transaktioner.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="cardSystemId" type="tns:Id"/>
            <xs:element name="cardType" type="tns:CardTypeType"/>
            <xs:element name="persons" type="tns:CardPersonType" maxOccurs="unbounded"/>
            <xs:element name="startDate" type="xs:date" minOccurs="0"/>
            <xs:element name="preliminaryCardDate" type="xs:date" minOccurs="0"/>
            <xs:element name="finalCardDate" type="xs:date" minOccurs="0"/>
            <xs:element name="endDate" type="xs:date" minOccurs="0"/>
            <xs:element name="currentAmount" type="xs:double"/>
            <xs:element name="amountToLimit" type="xs:double"/>
            <xs:element name="cardId" type="tns:CardId" minOccurs="0"/>
            <xs:element name="carePrincipal" type="tns:CarePrincipalType"/>
            <xs:element name="status" type="tns:CardStatusType"/>
            <xs:element name="cardReason" type="tns:CardRegistrationReasonType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ExtendedCardType">
        <xs:annotation>
            <xs:documentation>
                Datatypen utökar datatypen Card.
                Ett frikort tillhör en person (kan vara flera i fallet med barn eller reservnummer).
                Till varje frikort hör 1 eller flera transaktioner som tillsammans avgör om frikortsbelopp uppnåtts eller ej.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="card" type="tns:CardType"/>
            <xs:element name="transactions" type="tns:TransactionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="expiredTransactions" type="tns:TransactionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="exportStatus" type="tns:ExportStatusType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som returneras som ett generellt svar från alla tjänster. 
                En tjänstekonsument skall alltid kontrollera att resultatkoden innehåller fel för att på så sätt veta om anropet lyckades. 
                Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="resultCode" type="tns:ResultCodeType"/>
            <xs:element name="resultText" type="xs:string" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RegisterCardResultType">
        <xs:annotation>
            <xs:documentation>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en registrering av frikort.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="card" type="tns:CardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RegisterTransactionResultType">
        <xs:annotation>
            <xs:documentation>
                Datatypen utökar datatypen Result.
                Svarsmeddelande för registrering av transaktion. Om meddelandet innehåller en felkod skall det finnas detaljerad feltext i fältet ResultText.
                Om meddelandets resulatkod = OK finns identifiaktion för frikort samt transaktion med.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="cardSystemId" type="tns:Id" minOccurs="0"/>
            <xs:element name="transactionId" type="tns:Id" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetCardForPersonResultType">
        <xs:annotation>
            <xs:documentation>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av frikort för en angiven person.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="card" type="tns:CardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetExtendedCardResultType">
        <xs:annotation>
            <xs:documentation>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av fullständigt frikort med ingående transaktioner för ett angivet frikortsid.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="extendedCard" type="tns:ExtendedCardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetExtendedCardsResultType">
        <xs:annotation>
            <xs:documentation>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av fullständiga frikort med ingående transaktioner.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="extendedCard" type="tns:ExtendedCardType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GroupActionResultType">
        <xs:sequence>
            <xs:element name="loggedDate" type="xs:dateTime"/>
            <xs:element name="carePrincipalId" type="tns:HsaId"/>
            <xs:element name="cardTypeId" type="tns:CardTypeId"/>
            <xs:element name="cardId" type="tns:CardId"/>
            <xs:element name="action" type="tns:GroupActionType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetGroupForPersonResultType">
        <xs:annotation>
            <xs:documentation>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av grupperade personer tillsammans med tillhörande historiska grupperingsåtgärder.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="groupAction" type="tns:GroupActionResultType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="personIds" type="tns:PersonIdValue" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
