schemas/core_components/ehr_efrikortriv_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Logica licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
    xmlns:tns='urn:com:logica:se:healthcare:efrikort:riv:2'
    targetNamespace='urn:com:logica:se:healthcare:efrikort:riv:2'

    xmlns:efrikort='urn:com:logica:se:healthcare:efrikort:2'
    elementFormDefault='qualified'
    attributeFormDefault='unqualified' 
    version='2.0'>

    <xs:annotation>
        <xs:documentation xml:lang='sv'>
        </xs:documentation>
    </xs:annotation>


    <xs:import schemaLocation='ehr_efrikort_2.0.xsd' namespace='urn:com:logica:se:healthcare:efrikort:2' />



    <xs:simpleType name="ResultCodeType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Enumerationsvärde som anger de svarskoder som finns.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Transaktionen har utförts enligt uppdraget.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten måste visa upp för användaren (om tillämpbart). Exempel på detta kan vara &amp;quot;kom fastande&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERROR">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten måste visa upp. Exempel på detta kan vara &amp;quot;tiden har bokats av annan patient&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALIDATION_ERROR">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCESSDENIED">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Behörighet saknas för att utföra begärd tjänst. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONSENTMISSING">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Patienten har inget tidigare samtycke för tjänsten och ett samtycke från patienten måste inhämtas.
                        När ett samtycke ifrån patienten har erhållits registreras samtycket automatiskt i tjänsten genom att t.ex. göra en registrering av en transaktion. 
                        Läs beskrivning för respektive tjänst och se vilka som registrerar samtycke implicit.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="GroupActionType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Tillgängliga grupperingsåtgärder.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROUP_PERSON">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        En personidentitet grupperades med ett frikort
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNGROUP_PERSON">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        En grupperad personidentitet togs bort från ett frikort
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatyp som returneras som ett generellt svar från alla förändrande tjänster, t.ex. skapa, radera, etc. 
                En tjänstekonsument skall alltid kontrollera att resultatkoden inte innehåller fel för att på så sätt veta om anropet lyckades. 
                Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ResultCode" type="tns:ResultCodeType"/>
            <xs:element name="ResultText" type="xs:string" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RegisterCardResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en registrering av frikort.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="Card" type="efrikort:CardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RegisterTransactionResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Svarsmeddelande för registrering av transaktion. Om meddelandet innehåller en felkod skall det finnas detaljerad feltext i fältet ResultText.
                Om meddelandets resulatkod = OK finns identifiaktion för frikort samt transaktion med.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="CardSystemId" type="efrikort:Id" minOccurs="0"/>
            <xs:element name="TransactionId" type="efrikort:Id" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetCardForPersonResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av frikort för en angiven person.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="Card" type="efrikort:CardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetExtendedCardResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av fullständigt frikort med ingående transaktioner för ett angivet frikortsid.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="ExtendedCard" type="efrikort:ExtendedCardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GroupActionResultType">
        <xs:sequence>
            <xs:element name="LoggedDate" type="xs:dateTime"/>
            <xs:element name="CarePrincipalId" type="efrikort:HsaId"/>
            <xs:element name="CardTypeId" type="efrikort:CardTypeId"/>
            <xs:element name="CardId" type="efrikort:CardId"/>
            <xs:element name="Action" type="tns:GroupActionType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetGroupForPersonResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av grupperade personer tillsammans med tillhörande historiska grupperingsåtgärder.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="Persons" type="efrikort:PersonType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="GroupAction" type="tns:GroupActionResultType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
