schemas/core_components/ehr_efrikort_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Logica licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
    xmlns:tns='urn:com:logica:se:healthcare:efrikort:1'
    targetNamespace='urn:com:logica:se:healthcare:efrikort:1'

    elementFormDefault='qualified'
    attributeFormDefault='unqualified' 
    version='1.0'>

    <xs:annotation>
        <xs:documentation xml:lang='sv'>
        </xs:documentation>
    </xs:annotation>





    <xs:simpleType name="ResultCodeType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Enumerationsvärde som anger de svarskoder som finns.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Transaktionen har utförts enligt uppdraget.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten måste visa upp för användaren (om tillämpbart). Exempel på detta kan vara &amp;quot;kom fastande&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERROR">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten måste visa upp. Exempel på detta kan vara &amp;quot;tiden har bokats av annan patient&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALIDATION_ERROR">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCESSDENIED">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Behörighet saknas för att utföra begärd tjänst. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CardNatureType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Enum som beskriver typen av frikort.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARE_VISIT">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Anger att frikortet är av typen &amp;quot;Sjukvårdande behandling&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TECHNICAL_AID">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Anger att frikortet är av typen &amp;quot;Tekniska hjälpmedel&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRANSPORTATION">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Anger att frikortet är av typen &amp;quot;Sjukresor&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PaymentStatusType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Alla transaktioner har en betalningsstatus. Denna status styr huruvida transaktionen skall ingå som frikortsgrundande belopp eller ej.
                Exempelvis kan en fakturerad transaktion bli frikortsgrundande först när den är betald.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Kontantbetalning
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVOICE">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Faktura
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="DeleteStatusType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Då en transaktion raderas kräver systemet en orsakskod.
                Exempel på orsak är att aktör angett en felaktig transaktion eller att en patient valt att få en transaktion makulerad för att ordna till en snefördelning av transaktioner över en frikortsperiod.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRANSACTION_INCORRECT">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Transaktion felaktig registrerad
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRANSACTION_REMOVED_BY_PATIENT_REQUEST">
                <xs:annotation>
                    <xs:documentation xml:lang='sv'>
                        Borttag av transaktion begärd av patient
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Id">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatyp som representerar ett unikt identifikationsnummer enligt formatet för UUID (Universally Unique Identifier).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="HsaId">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatyp som representerar det unika nummer som identifierar en anställd, uppdragstagare, strukturenhet eller en HCC funktion (HSA-id).
                Specificerat enligt HSA-schema tjänsteträdet version 3.9.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PersonIdValue">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Typen PersonIdValue är en sträng på 12 tecken som representerar en person. Vanligtvis ett personnummer, men även andra typer av 12 tecken identifierare såsom samordningsnummer och reservnummer kan användas. Formatet på texten skall vara enbart de siffror (samt eventuell bokstav) som ingår utan eventuell &amp;quot;-&amp;quot; eller &amp;quot;+&amp;quot;.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CardId">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatyp som representerar ett frikortsnummer. Detta är ej unikt utan enbart en läsbar referens till ett frikort. Flera kort kan således ha samma frikortsnummer.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="PersonType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Typ som representerar ett id för en person eller patient, och kan vara ett personnummer, samordningsnummer eller reservnummer.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="tns:PersonIdValue"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ActorType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                En Actor är någon som utför något i systemet.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EmployeeId" type="tns:HsaId"/>
            <xs:element name="CareProviderId" type="tns:HsaId"/>
            <xs:element name="CareUnitId" type="tns:HsaId" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CardNatureLimitType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                CardNatureLimit är namnet på korttypen samt vilken gräns den har för att uppnås.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CardNature" type="xs:string"/>
            <xs:element name="LimitValue" type="xs:double"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatyp som returneras som ett generellt svar från alla förändrande tjänster, t.ex. skapa, radera, etc. 
                En tjänstekonsument skall alltid kontrollera att resultatkoden inte innehåller fel för att på så sätt veta om anropet lyckades. 
                Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ResultCode" type="tns:ResultCodeType"/>
            <xs:element name="ResultText" type="xs:string"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RegisterCardResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en registrering av frikort.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="Card" type="tns:CardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RegisterTransactionResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Svarsmeddelande för registrering av transaktion. Om meddelandet innehåller en felkod skall det finnas detaljerad feltext i fältet ResultText.
                Om meddelandets resulatkod = OK finns identifiaktion för frikort samt transaktion med.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="CardSystemId" type="tns:Id" minOccurs="0"/>
            <xs:element name="TransactionId" type="tns:Id" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TransactionType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                En transaktion beskriver en betalning utförd av en patient.
                En transaktion knyts alltid till ett frikort.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TransactionId" type="tns:Id"/>
            <xs:element name="Amount" type="xs:double"/>
            <xs:element name="TransactionDate" type="xs:dateTime"/>
            <xs:element name="RegistrationDate" type="xs:dateTime"/>
            <xs:element name="PaymentStatus" type="tns:PaymentStatusType"/>
            <xs:element name="RegisteredBy" type="tns:ActorType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CardType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Information om ett specifikt Frikort, men utan dess ingående transaktioner.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CardSystemId" type="tns:Id"/>
            <xs:element name="Nature" type="tns:CardNatureType"/>
            <xs:element name="Persons" type="tns:PersonType" maxOccurs="unbounded"/>
            <xs:element name="GuardianId" type="tns:PersonIdValue" minOccurs="0"/>
            <xs:element name="StartDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="LimitReachedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="EndDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="CurrentAmount" type="xs:double"/>
            <xs:element name="AmountToLimit" type="xs:double"/>
            <xs:element name="CardId" type="tns:CardId" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ExtendedCardType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Card.
                Ett frikort tillhör en person (eller i fallet med barn flera personer). Om kortet tillhör ett barn skall alltid målsman anges.
                Till varje frikort hör 1 eller flera transaktioner som tillsammans avgör om frikortsbelopp uppnåtts eller ej.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Card" type="tns:CardType"/>
            <xs:element name="Transactions" type="tns:TransactionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ExpiredTransactions" type="tns:TransactionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetCardForPersonResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av frikort för en angiven person.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="Card" type="tns:CardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="GetExtendedCardResultType">
        <xs:annotation>
            <xs:documentation xml:lang='sv'>
                Datatypen utökar datatypen Result.
                Datatyp som innehåller resultatet från en hämtning av fullständigt frikort med ingående transaktioner för ett angivet frikortsid.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Result" type="tns:ResultType"/>
            <xs:element name="ExtendedCard" type="tns:ExtendedCardType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
